<h1>Movies To Watch</h1>
<div class="well-sm">

			{{#each movies}}
					<div class="row">
						<div class="col-sm-4"><h1 style="margin: 0">{{this.id}}. {{this.movie}}</h1></div>
						<div class="col-sm-4">
							<form action="/delete/{{this.id}}"
										method="POST">
								<button type="submit" class="btn btn-danger">Delete</button>
							</form>
						</div>
					</div>
			{{/each}}
</div>

<h2>Add a Movie to Watch</h2>
<form method="POST" action="/" class="button-size">
	<input type="text" name="movie"/>
	<button type="submit" class="btn btn-primary">Save Movie!</button>
</form>

<h2>Update a Movie</h2>
<form action="/update" method="POST" class="button-size">
	<select name="id">
		{{#each movies}}
			<option value="{{this.id}}">{{this.id}}</option>
		{{/each}}
	</select>
	<input type="text"
				 name="movie"
				 placeholder=""/>
	<button type="submit" class="btn btn-success">Update Movie!</button>
</form>
